.app-card {
  box-shadow: none;
  display: flex;
  overflow: hidden;
  border-radius: 28px;
}

@media screen and (min-width: 768px) {
  .app-card {
    width: 700px;
  }
}

.app-card-table {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #dddddd transparent;
}

@media screen and (min-width: 768px) {
  .app-card-table {
    max-height: 250px;
  }
}

.app-card-emoji {
  width: 80px;
  height: 80px;
}

.app-card-title {
  font-size: 32px;
  color: #005cbb;
}

.app-header-holiday {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-height: 150px;
}

.app-card-actions {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.app-card-input,
.app-card-actions-button {
  width: 100%;
}
