<mat-card class="app-card">
  <div class="app-header-holiday">
    @switch (status) { @case ("LOADING") {
    <mat-spinner></mat-spinner>
    } @case ("LOADED") { @if (isHoliday) {
    <img src="assets/partying-face.png" class="app-card-emoji" />
    <span class="app-card-title">¡El Lunes 23 de Marzo es festivo!</span>
    } @else {
    <img src="assets/frowning-face.png" class="app-card-emoji" />
    <span class="app-card-title">¡El {{ formattedDate }} NO es festivo!</span>
    } } @case ("ERROR") {
    <img src="assets/fire.png" class="app-card-emoji" />
    <span class="app-card-title">¡Ups! Algo salió mal.</span>
    } }
  </div>

  <mat-card-content class="app-card-content">
    <mat-form-field class="app-card-input">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="date" />
      <mat-hint>Escoge el el dia que quieres consultar.</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-card-content>

  <mat-card-actions class="app-card-actions">
    <button
      mat-flat-button
      class="app-card-actions-button"
      (click)="onVerify()"
    >
      Validar
    </button>
  </mat-card-actions>
</mat-card>
